/* fonts */
@font-face {
  font-family: LuckiestGuy;
  src: url(./../assets/fonts/LuckiestGuy-Regular.ttf);
}
@font-face {
  font-family: PoppinsExtraLight;
  src: url(./../assets/fonts/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: PoppinsRegular;
  src: url(./../assets/fonts/Poppins-Regular.ttf);
}
/* base */
* {
}
html {
}
body {
  color: #ffff;
  font-family: poppinsRegular;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}
p {
}
button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 2em;
  background: none;
  border-radius: 0.2em;
}
button:hover {
  box-shadow: 0px 0px 3px 1px #9e9e9e;
}
a {
  text-decoration: none;
  color: inherit;
}
a.active {
  color: #537bc4;
  text-decoration: overline;
}

input[type='color'] {
  opacity: 0;
  position: absolute;
}
img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
/* vars */
:root {
  --clr1: #537bc4;
  --clr2: #35495e;
}
/* components */
body.grid {
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 1fr 150px 100px;
  grid-template-areas:
    'header'
    'filter'
    'main'
    'about'
    'footer';
}

header {
  grid-area: header;
  background: var(--clr2);
}

.header-container {
  height: 100%;
  /* background: lightgreen; */
}

.header-container .logo {
  font-family: LuckiestGuy;
  letter-spacing: 2px;
}
.app-filter {
  grid-area: filter;
  background: var(--clr1);
}

.app-filter-container {
  align-items: center;
  height: 100%;
}

.app-filter input {
  margin-inline-start: 1em;
  padding: 0.5em 0.8em;
  border-radius: 0.5em;
  border: none;
}
.app-filter input:focus {
  outline-color: var(--clr1);
}
.search-word-container {
  margin-inline-start: auto;
}
.search-word-container > * {
  margin-inline-start: 2em;
}

body.grid.editor {
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 1fr 100px;
  grid-template-areas:
    'header'
    'filter'
    'main'
    'footer';
}

body.editor .about {
  display: none;
}
main {
  overflow-y: auto;
  grid-area: main;
  /* background-color: lightgray; */
}
.about {
  grid-area: about;
  background: var(--clr1);
}
footer {
  /* text-align: center; */
  grid-area: footer;
  background: var(--clr2);
}

.developer-info {
  margin: auto;
  width: 50%;
  height: 100%;
  padding: 0.5em 0;
  /* background: lightblue; */
}

.social-container {
  width: 100px;
  justify-content: space-evenly;
}

.developer-info img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  /* float: left; */
  margin-inline-end: 1em;
}

/* editor */

.default-msg {
  margin-top: 10em;
  text-align: center;
}

.image-list.grid,
.saved-image-list.grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row;
  gap: 10px;
  padding: 60px;
  width: auto;

  /* grid-auto-rows: auto; */
}
.image-preview {
  transition: all 0.2s ease;
}
.image-preview:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px 3px #9e9e9e;
}
/* meme editor */
.meme-editor-container {
  /* background: red; */
  padding: 0.5em 0;
  gap: 5%;
}
.meme-editor-container > * {
  height: auto;
  max-width: 500px;
}
.editor-panel {
  box-shadow: 0 0 3px 0px black;
  border-radius: 0.8em;
}

.line-bottom-panel img {
  content: '';
  display: none;
}

.editor-panel.grid {
  display: grid;
  /* flex: 1; */
  padding: 0 1em;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  text-align: center;
  justify-items: center;
  grid-auto-flow: row;
  grid-template-areas:
    'line-input line-input line-input line-input line-input'
    'top-panel top-panel top-panel top-panel top-panel'
    'bottom-panel bottom-panel bottom-panel bottom-panel bottom-panel'
    'emojis emojis emojis emojis emojis'
    'sheare-container sheare-container sheare-container sheare-container sheare-container';
}

input[name='txt'] {
  grid-area: line-input;
  width: 90%;
  border: none;
  font-size: 1em;
  padding-inline-start: 1em;
  padding: 1em;
  border-radius: 0.8em;
  box-shadow: inset 0 0 2px black;
  border: none;
}

.line-top-panel {
  grid-area: top-panel;
  /* width: 100%; */
}
.line-bottom-panel {
  grid-area: bottom-panel;
  /* flex-wrap: wrap;
  height: 100%; */
}
.line-bottom-pane-primary {
  margin-bottom: 0.5em;
}

label[for='fillColor'] {
  position: relative;
}

.emojis-container {
  grid-area: emojis;
}

.share-download-container {
  grid-area: sheare-container;
}
.emojis-list {
  box-shadow: 0 0 3px 0px black;
  border-radius: 0.8em;
}
.emoji {
  font-size: 3em;
  cursor: pointer;
}

/* dialog */
dialog .dialog-container {
  flex-direction: column;
}
/* scroll-bar */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #537bc4;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr2);
  outline: 1px solid var(--clr1);
}

/* helpers */

/* .fill {
  flex-basis: 20%;
} */
.grid {
  display: grid;
}
.clean-list {
  list-style: none;
  margin: 0;
}
.flex {
  display: flex;
}
.flex.a-center {
  align-items: center;
}
.flex.s-between {
  justify-content: space-between;
}
.j-center {
  justify-content: center;
}

/* layout */
.main-layout > *:not(.full) {
  max-width: 1400px;
  margin: 0 auto;
}
/* components */
